

/* @keyframes anim{
    from{
        background-color: beige;
    }
    to{
background-color: red;
    }
} */

/* #demo{
  
  top: 0;
  left: 0;
  transition: transform 1s;
} */

#checking{
    position: relative;
}
.demo{
    position: absolute;
}