/* #checking{
    position: relative;
}

#demo{
    position: absolute;
} */

.animat{
    animation: anim 5s;
}

@keyframes anim{
    from{
     
        opacity: 0
    }
    to{
    
        opacity: 1;
    }
}

